.popover {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
  }
  
  .popover h2 {
    font-size: 16px;
  }
  
  .popover ul {
    list-style: none;
  }
  
  .popover li {
    padding: 10px;
  }
  
  .popover:hover {
    display: block;
  }  